.card-hover {
  background-color: #292a2d !important;
  border-color: #3d3e41 !important;
  transition: background-color 0.3s ease !important; /* Smooth transition for the hover effect */
}

.light-mode-card-hover {
  background-color: #fafafa !important;
  border-color: #e0e0e0 !important;
  transition: background-color 0.3s ease !important; /* Smooth transition for the hover effect */
}
  
.card-hover:hover {
  background-color: #3d3e41 !important; /* Slightly lighter color on hover */
}

.light-mode-card-hover:hover {
  background-color: #ebebeb !important; /* Slightly lighter color on hover */
}

.open-card-hover {
  background-color: #292a2d !important;
  border-color: #3d3e41 !important;
  transition: background-color 0.3s ease !important; /* Smooth transition for the hover effect */
}
  
.open-card-hover:hover {
  background-color: #3d3e41 !important; /* Slightly lighter color on hover */
}