.card-hover {
    background-color: #292a2d !important;
    border-color: #3d3e41 !important;
    transition: background-color 0.3s ease !important; /* Smooth transition for the hover effect */
  }
  
  .card-hover:hover {
    background-color: #3d3e41 !important; /* Slightly lighter color on hover */
  }

  .card-hover:active {
    background-color: #5bcd04 !important;
    border-color: transparent !important;
    outline: none !important;
  }

  .open-card-hover {
    background-color: #292a2d !important;
    border-color: #3d3e41 !important;
    transition: background-color 0.3s ease !important; /* Smooth transition for the hover effect */
  }
  
  .open-card-hover:hover {
    background-color: #3d3e41 !important; /* Slightly lighter color on hover */
  }