.doto-title {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
    /* color: #23c19d; */
    color: #5bcd04;
    /* color: #ff9f34; */
}
