html, body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  width: 360px;
  height: 600px; /* Adjust the height as needed */
}

.custom-bg {
  background-color: #242424;
  min-height: 100vh;
  width: 100%;
}

.container-fullwidth {
  width: 100% !important;
}