.custom-form-button {
    background-color: #292a2d !important;
    color: white !important;
    border: none !important;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease !important;
}

.light-mode-custom-form-button {
    background-color: #fafafa !important;
    color: black !important;
    border: none !important;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease !important;
}

.custom-form-button:hover {
    background-color: #3d3e41 !important;
    border-color: transparent !important;
}

.light-mode-custom-form-button:hover {
    background-color: #c0c0c0 !important;
    border-color: transparent !important;
}

.custom-form-button:active {
    background-color: #ff4d4d !important;
    border-color: transparent !important;
    outline: none !important;
}

.light-mode-custom-form-button:active {
    background-color: #ff4d4d !important;
    border-color: transparent !important;
    outline: none !important;
}

.dark-input:focus {
    background-color: #4a4b4e !important;
    color: #ecf0f1 !important;
    border-color: #3a3b3e !important;
    outline: none !important;
    box-shadow: 0 0 0 0.2rem rgba(80, 114, 123, 0.25) !important;
}

.light-input:focus {
    background-color: #ecf0f1 !important;
    color: #3a3b3e !important;
    border-color: #c0c0c0 !important;
    outline: none !important;
    box-shadow: 0 0 0 0.2rem rgba(80, 114, 123, 0.25) !important;
}

form .dark-input::placeholder {
    color: #b0b3b8;
    opacity: 1;
}

form .light-input::placeholder {
    color: #b0b3b8;
    opacity: 1;
}

.login-form-button {
    background-color: #3a3b3e !important;
    border-color: transparent !important;
    outline: none !important;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease !important;
}

.login-form-button:hover {
    background-color: #4a4b4e !important;
    border-color: transparent !important;
}

.custom-modal .modal-content {
    background-color: #202124 !important;
    color: #ecf0f1; /* Optional: Change text color */
}

.custom-modal .modal-header {
    border-bottom: 1px solid #37383a !important; /* Change this to your desired color */
}

.custom-modal .modal-footer {
    border-top: none;
}

.sureYes, .sureNo {
    width: 50px !important;
}

.sureYes:active {
    background-color: #ff4d4d !important;
    border-color: transparent !important;
    outline: none !important;

}

.sureNo:active {
    background-color: #5bcd04 !important;
    border-color: transparent !important;
    outline: none !important;
}